.wrapperTasks > ul > li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
}
.wrapperTasks > ul {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
.wrapperTasks ul li:last-child {
  margin: 0;
}

.baseStyleTodo {
  margin: 20px;
}

.wrapperTasks {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.headerTodo {
  display: flex;
  justify-content: center;
}
.headerTodo img {
  width: 28px;
  height: 28px;
}
.headerTodo h3 {
  display: flex;
  align-items: center;
}
.paper {
  padding: 20px;
}

.paper h3 span {
  font-size: 30px;
}
ul li span {
  font-size: 20px;
  margin-right: 5px;
}

.buttonFilters {
  display: flex;
  justify-content: center;
}
