ul {
  margin: 5px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.baseStyleTodo {
  margin: 20px;
  position: relative;
}

.headerTodo {
  display: flex;
  justify-content: center;
}
.headerTodo img {
  width: 28px;
  height: 28px;
}
.headerTodo h3 {
  display: flex;
  align-items: center;
}
.paper {
  padding: 20px;
}

.paper h3 span {
  font-size: 30px;
}

.buttonFilters,
.wrapperListTasks {
  display: flex;
  justify-content: center;
}
