.wrapperCheckbox img {
  cursor: pointer;
  width: 23px;
  height: 23px;
}
.taskIsDone {
  opacity: 0.5;
}
.wrapperCheckbox {
  display: flex;
  align-items: center;
}

/* .wrapperTasks {
  display: flex;
  justify-content: center;
  margin: 5px 0;
} */
.wrapperTasks  li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
}
.wrapperTasks  li:last-child {
  margin: 0;
}
li span {
  font-size: 20px;
  margin-right: 5px;
}